:root {
    --blue: #5884b0;
    --sec: #143c63;
    --black: #060a0d;
    --white: #cce6ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    list-style: circle;
}

body {
    background-color: var(--black);
    padding: 2rem;
}
