:root {
    --blue: #5884b0;
    --sec: #143c63;
    --black: #060a0d;
    --white: #cce6ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    list-style: decimal;
}

body {
    background-color: var(--black);
    padding: 2rem;
}

h1 {
    font-size: 3.3rem;
    margin-top: 2rem;
}
h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

p {
    margin-top: 0.8rem;
    max-width: 785px;
}

ol {
    margin-top: 1em;
    margin-left: 2rem;
}

span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
