:root {
    --blue: #5884b0;
    --sec: #143c63;
    --black: #060a0d;
    --white: #cce6ff;
}

.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hero .text-box {
    flex: 1;
    padding: 5rem;
    align-self: center;
}

.hero .text-box h2 {
    font-size: 3rem;
}
.hero .text-box h1 {
    font-size: 5rem;
    color: var(--blue);
}
.hero .text-box h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 800;
}
.hero .text-box p {
    margin-top: 1rem;
    font-weight: 400;
    text-align: justify;
}
.hero .text-box #button {
    margin-top: 2rem;
}

.hero .img-box {
    flex: 1;
    align-self: center;
}
.hero .img-box img {
    max-height: 90vh;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .hero .text-box {
        padding: 2rem;
    }
    .hero .img-box img {
        max-height: 50vh;
    }
}

section h3 {
    font-size: 2rem;
    color: var(--white);
    font-weight: 800;
}

.install {
    width: 100%;
    padding: 5rem;
}
.install .button-box {
    margin-top: 2rem;
    display: flex;
    width: fit-content;
    flex-direction: row;
}
.install .button-box img {
    margin-right: 2rem;
    cursor: pointer;
    width: 10rem;
}

@media screen and (max-width: 768px) {
    .install {
        padding: 2rem;
    }
    .install .button-box {
        margin-top: 1rem;
    }
    .install .button-box img {
        margin-right: 1rem;
    }
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about .img-box {
    flex: 1;
    align-self: center;
    padding: 0 5rem;
}
.about .img-box img {
    max-height: 60vh;
}

.about .text-box {
    flex: 1;
    padding: 5rem;
}
.about .text-box p {
    margin-top: 2rem;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .about .img-box {
        position: absolute;
        opacity: 0;
    }
    .about .text-box {
        padding: 2rem;
    }
}

.help {
    padding: 5rem;
    width: 100%;
}
.help .help-box {
    padding: 2rem;
    background: linear-gradient(30deg, var(--sec), var(--blue));
    border-radius: 25px;
}
.help .help-box p {
    margin-top: 2rem;
    max-width: 60%;
}
.help .help-box .link-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.help .help-box .link-box #button {
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .help {
        padding: 2rem;
    }
}
